# Xcode
build/
DerivedData/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.moved-aside
*.xccheckout
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store
